<a href="/phonebook/add/">+ add</a>
{% for entry in entry_list %}
<div class="phonebook-entry">
  <div class="phonebook-name">
    {{ entry.last_name }}, {{ entry.first_name }}
  </div>
  <div class="phonebook-data">
    <div class="phonebook-number">
      {{ entry.phone_number }}
    </div>
    <div class="phonebook_address">
      {{ entry.address.street }}
      <br />
      {{ entry.address.city }}
      <br />
      {{ entry.address.country }}
    </div>
  </div>
</div>
{% endfor %}
<a href="/phonebook/add/">+ add</a>
